table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: white;
}


.container-winner-test {
  transition: ease all 0.75s;
  border-radius: 7px;
  width: 500px;
  padding: 25px;
  margin-top: 17px;
  margin-bottom: 17px;
  display: flex; /* Add display flex property */
  align-items: center;
  justify-content: center; /* Add justify-content center property */
  background: #228B22;
  border-radius: 12.5px;
  color: #343045;
}

@media all and (max-width: 850px) {
  .container-winner-test{
    width: 700px;
  }
}
@media all and (max-width: 750px) {
  .container-winner-test {
    width: 600px;
  }
}
@media all and (max-width: 650px) {
  .container-winner-test {
    width: 400px;
  }
}
@media all and (max-width: 400px) {
  .container-winner-test {
    width: 300px;
  }
}
