.tbl{
  width: 200px;
}

.btn-verification-approve{
  padding: 1em;
  float: inline-start;
  margin: 1em;
  box-sizing: border-box;
  position: inherit;
  width: 250px;
  align-items: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #ffffff;
  color: #151515;
}