
.form {
  width: fit-content;
  margin: 5px;
  padding: 7px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}
.input-ac {
  margin: 0.5em 0em 0em 0em;
  padding: 1em;
  display: block;
  width: 330px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.select-election-ac {
  margin: 0.5em 0em 0em 0em;
  padding: 1em;
  display: block;
  width: 330px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.select-election-ac:focus {
  outline: none;
  box-shadow: none;
}

.select-election-ac option {
  background-color: #ffffff;
  color: #555;
  font-size: 16px;
}


.label-ac {
  display: block;
  margin: 0.1em;
  padding: 0.5em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 44px;
  color: #ffffff;
}

.btn-add {
  margin-top: 10%;
  box-sizing: border-box;
  position: inherit;
  width: 250px;
  align-items: center;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: #343045;
}

.btn-election {
  position: inherit;
  width: 250px;
  padding: 16px;
  align-items: center;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: #343045;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00Aaad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.spin-text{
   padding-left: 1%;
   color:#ffffff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media all and (max-width: 400px) {
  .input-ac,
  .btn-add {
    width: 100%;
  }
  .btn-add {
    float: inline-start;
  }

}

@media all and (max-width: 400px) {
  .input-ac,
  .btn-election {
    width: 100%;
  }
  .btn-election {
    float: inline-start;
  }
}